.login-bg{
    background-image: url('../../components/background image for.png');
    background-size: cover;
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.form-container{
    height:60vh;
    width:65vh;
    border-radius: 5px;
    background-color: rgba(0, 123, 255, 0.5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.forms{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text-forms{
    font-size: 18px;
    font-weight: 50px;
    margin-bottom: 3px;
    
}
.input-box{
    border-radius: 5px;
    height:28px;
    width:280px
}
.btn{
    width:80px;
    height:30px;
    border-radius: 5px;
    background-color: beige;
    border-style: none;
    cursor: pointer;
}
.btn:hover {
  background-color: #0056b3;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
